#  **Data Handling**

##### **데이터 불러오기**

In [206]:
# 데이터프레임, 변수 할당

import pandas as pd 
import numpy as np
df = pd.DataFrame({
    'Unnamed: 0': [0,1,2,3,4,5,6,'new',10],
    '메뉴': ['황금후라이드','승일양념치킨','간장치킨','마늘치킨','파닭','닭강정','양념반후라이드반','[인기]아이펠치킨','[베스트]풀잎치킨'],
    '가격': [12000,13000,14000,14000,14000,15000,13000,16000,9900],
    '호수' : ['10호','10호','9호','9호','11호','12호','10호','11호','10호'],
    '칼로리' : [1000.0,1400.0,1600.0,1800.0,1300.0,1500.0,1300.0,1200.0,np.nan],
    '할인율' : [0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.5,np.nan],
    '할인가' : [9600.0,10400.0,11200.0,11200.0,11200.0,12000.0,10400.0,8000.0,np.nan],
    '원산지' : ['국내산',np.nan,np.nan,np.nan,'브라질','브라질',np.nan,'국내산',np.nan]
})
df.to_csv('new_modudak.csv', index=False)
df

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

#### **인덱스 컬럼 선택 | (index_col='컬럼명')**

In [207]:
pd.read_csv('new_modudak.csv', index_col='Unnamed: 0')

                   메뉴     가격   호수     칼로리  할인율      할인가  원산지
Unnamed: 0
0              황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1              승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2                간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3                마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4                  파닭  14000  11호  1300.0  0.2  11200.0  브라질
5                 닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6            양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new         [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10          [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

#### **데이터프레임 복사**
##### 참고 | 데이터프레임 값을 변수에 할당하고 변경하려할 경우 에러 발생 -> .copy() 사용

In [208]:
data = df.copy()
data

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

##### **데이터 삭제1 | .drop( 인덱스(행)명 또는 컬럼명, axis=0 or 1)**

In [209]:
data = data.drop(5, axis=0)
data

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

##### **데이터 삭제2 | data.drop(columns=['삭제할 컬럼 명', '여러개 가능'])**

In [210]:
data = df.copy()
data = data.drop(columns=['Unnamed: 0'])
data

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [211]:
df = data.copy()
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

##### **변수 할당 없이, 변경된 값 적용하기 | inplace=True**

In [212]:
data.drop(6, axis=0, inplace=True)
data

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

##### **행 삭제 | 조건**

In [213]:
cond = data['가격'] >= 14000
data[cond].index
data.drop(data[cond].index, axis=0, inplace=True)
data

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

##### **데이터 결측치 처리 | 결측치가 있는 행 모두삭제 '.dropna()'**

In [214]:
data = df.copy() # 데이터 프레임 복사
data

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [215]:
data.dropna()

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산

##### **데이터 결측치 처리 | 결측치가 있는 행 모두삭제 .dropna(axis)**

In [216]:
data.dropna(axis=1)

          메뉴     가격   호수
0     황금후라이드  12000  10호
1     승일양념치킨  13000  10호
2       간장치킨  14000   9호
3       마늘치킨  14000   9호
4         파닭  14000  11호
5        닭강정  15000  12호
6   양념반후라이드반  13000  10호
7  [인기]아이펠치킨  16000  11호
8  [베스트]풀잎치킨   9900  10호

##### **결측치 채우기 | .isnull() 로 결측치 여부 확인가능**

In [217]:
df.isnull()

      메뉴     가격     호수    칼로리    할인율    할인가    원산지
0  False  False  False  False  False  False  False
1  False  False  False  False  False  False   True
2  False  False  False  False  False  False   True
3  False  False  False  False  False  False   True
4  False  False  False  False  False  False  False
5  False  False  False  False  False  False  False
6  False  False  False  False  False  False   True
7  False  False  False  False  False  False  False
8  False  False  False   True   True   True   True

##### **결측치 확인하기(결측치 수)**

In [218]:
df.isnull().sum()

메뉴     0
가격     0
호수     0
칼로리    1
할인율    1
할인가    1
원산지    5
dtype: int64

##### **결측치 채우기**

In [219]:
df['원산지'].fillna('알수없음')

0     국내산
1    알수없음
2    알수없음
3    알수없음
4     브라질
5     브라질
6    알수없음
7     국내산
8    알수없음
Name: 원산지, dtype: object

##### **원산지 최빈값으로 채우기**

In [220]:
df['원산지'].fillna('국내산')

0    국내산
1    국내산
2    국내산
3    국내산
4    브라질
5    브라질
6    국내산
7    국내산
8    국내산
Name: 원산지, dtype: object

In [221]:
df['원산지'] = df['원산지'].fillna('국내산')
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [222]:
df['칼로리'] = df['칼로리'].fillna('900')
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     900  NaN      NaN  국내산

##### **최솟값으로 결측치 채움**

In [223]:
df['할인율'].fillna(df['할인율'].min())

0    0.2
1    0.2
2    0.2
3    0.2
4    0.2
5    0.2
6    0.2
7    0.5
8    0.2
Name: 할인율, dtype: float64

In [224]:
df['할인율'] = df['할인율'].fillna(df['할인율'].min())
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     900  0.2      NaN  국내산

## **정렬**
##### **데이터 확인 | 인덱스 기준 (default: ascending=True)**

In [225]:
df.sort_index(ascending=False)

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
8  [베스트]풀잎치킨   9900  10호     900  0.2      NaN  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산

##### **컬럼명 1개 기준 (default: ascending=True)**

In [226]:
df.sort_values('가격', ascending=False)

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10호     900  0.2      NaN  국내산

##### **컬럼명 2개 이상 | 각각의 컬럼 정렬가능**

In [227]:
df.sort_values(['가격','원산지'], ascending=[False, True])

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10호     900  0.2      NaN  국내산

##### **정렬 후, 인덱스가 섞이므로 재부여 해야함**

In [228]:

# 새로운 인덱스 컬럼을 생성하므로, 기존의 인덱스는 drop=True로 삭제해야함
df.reset_index(drop=True)
df = df.reset_index(drop=True)
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     900  0.2      NaN  국내산

### **자료형 변환**

##### **데이터타입 확인 | .info()**

In [229]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      9 non-null      object
 1   가격      9 non-null      int64
 2   호수      9 non-null      object
 3   칼로리     9 non-null      object
 4   할인율     9 non-null      float64
 5   할인가     8 non-null      float64
 6   원산지     9 non-null      object
dtypes: float64(2), int64(1), object(4)
memory usage: 636.0+ bytes

##### **'호수'의 데이터를 int형으로 바꿈**

In [230]:
df['호수'].str.replace('호','')
df['호수'] = df['호수'].str.replace('호','')
df

          메뉴     가격  호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산
4         파닭  14000  11  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10     900  0.2      NaN  국내산

##### **자료형 변환 | astype / object -> int**

In [231]:
df['호수'].astype(int)
df['호수'] = df['호수'].astype(int)
df

          메뉴     가격  호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산
4         파닭  14000  11  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10     900  0.2      NaN  국내산

In [232]:
# 데이터 타입 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      9 non-null      object
 1   가격      9 non-null      int64
 2   호수      9 non-null      int64
 3   칼로리     9 non-null      object
 4   할인율     9 non-null      float64
 5   할인가     8 non-null      float64
 6   원산지     9 non-null      object
dtypes: float64(2), int64(2), object(3)
memory usage: 636.0+ bytes

##### **평균 구하기**

In [233]:
df['호수'].mean()

10.222222222222221

### **데이터 탐색**

##### **데이터확인**

In [234]:
df

          메뉴     가격  호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산
4         파닭  14000  11  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10     900  0.2      NaN  국내산

##### **데이터 프레임 크기 (Raw, Column)**

In [235]:
df.shape

(9, 7)

##### **데이터 샘플 확인 | .head() - 앞에서 5개**

In [236]:
df.head()

       메뉴     가격  호수     칼로리  할인율      할인가  원산지
0  황금후라이드  12000  10  1000.0  0.2   9600.0  국내산
1  승일양념치킨  13000  10  1400.0  0.2  10400.0  국내산
2    간장치킨  14000   9  1600.0  0.2  11200.0  국내산
3    마늘치킨  14000   9  1800.0  0.2  11200.0  국내산
4      파닭  14000  11  1300.0  0.2  11200.0  브라질

##### **기초통계 확인 (컬럼별)**

In [237]:
df.describe() # 데이터 타입이 숫자형인 것만 출력됨

                 가격         호수       할인율           할인가
count      9.000000   9.000000  9.000000      8.000000
mean   13433.333333  10.222222  0.233333  10500.000000
std     1764.936259   0.971825  0.100000   1242.118007
min     9900.000000   9.000000  0.200000   8000.000000
25%    13000.000000  10.000000  0.200000  10200.000000
50%    14000.000000  10.000000  0.200000  10800.000000
75%    14000.000000  11.000000  0.200000  11200.000000
max    16000.000000  12.000000  0.500000  12000.000000

##### **기초통계 (Object값)**

In [238]:
df.describe(include='O') # 

# count : 데이터 개수
# unique : 종류 개수
# top : 최빈 or 최상위 값
# freq : 빈도

            메뉴     칼로리  원산지
count        9     9.0    9
unique       9     8.0    2
top     황금후라이드  1300.0  국내산
freq         1     2.0    7

##### **항목 종류 수**

In [240]:
df.nunique()

메뉴     9
가격     6
호수     4
칼로리    8
할인율    2
할인가    5
원산지    2
dtype: int64

##### **항목종류**

In [242]:
df['호수'].value_counts()

호수
10    4
9     2
11    2
12    1
Name: count, dtype: int64

In [241]:
df['호수'].unique()

array([10,  9, 11, 12])